@import url('https://github.com/antonvilyams/indigo/blob/gh-pages/assets/fonts/Whyte-Regular-6d56519c20f6a2a1cc807aa17f687b92.woff2')
@import url('https://github.com/antonvilyams/indigo/blob/gh-pages/assets/fonts/Whyte-Medium-12617f8ccabee9f73194e10d5261bfb8.woff2')
@import url('https://github.com/antonvilyams/indigo/blob/gh-pages/assets/fonts/Whyte-Bold-67c716ce6c8dc652d8fc290434967393.woff2')

@font-face {
   font-family: 'Whyte';
   src: url("https://github.com/antonvilyams/indigo/blob/gh-pages/assets/fonts/Whyte-Regular-6d56519c20f6a2a1cc807aa17f687b92.woff2") format("woff2");
}


$fontSans: 'Whyte', "Helvetica Neue", Helvetica, Arial, sans-serif
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #aaa
$delta: #4b0082
$epsilon: #ededed

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
